*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    color: hsl(228, 12%, 48%);
    line-height: 1.6;
}
body{
    background-color: hsl(30, 38%, 92%);
}
main{
    width: 800px;
    height: 100vh;
    margin: auto;
    display: flex;
    background-color: hsl(30, 38%, 92%);
}
.margin-top-30px{
    margin-top: 30px;
}
.margin-30px-30px-linethrough{
    text-decoration: line-through;
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
}
.add-to-cart-button{
    margin-top: 30px;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    cursor: pointer;
}
.image{
    background-image: url("images/image-product-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 400px 600px;
    border-radius: 10px 0px 0px 10px;
}
.image-figcaption{
    padding-left: 40px;
    padding-right: 40px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0px 10px 10px 0px;
}
div{
    display: inline-block;
    width: 50%;
    height: 600px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#cart-icon{
    margin-right: 10px;
}
.add-to-cart-button:active {
    background-color: hsl(158, 36%, 17%);
  }
/***********************FONTS*******************************/
.button-name{
    color: white;
    font-weight: 700;
    margin-left: 10px;
}
.Fraunces-700-50px-darkgreen{
    font-family: Fraunces;
    font-size: 50px;
    color: hsl(158, 36%, 37%);
}
h1{
    font-family: Fraunces;
    font-size: 50px;
    color: hsl(212, 21%, 14%);
    line-height: 1;
}
/*************************MOBILE*********************************/
@media screen and (max-width:400px){
    body{
        height: 100vh;
    }
    main{
        width: 340px;
        height: 95vh;
        display: block;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        
} 
    div{
        display: block;
        width: 100%;
        position: static;
        top: initial;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
    .image{
        height: 36vh;
        background-image: url("images/image-product-mobile.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 10px 10px 0px 0px;
    }
    .image-figcaption{
        height: 59vh;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0px 0px 10px 10px;
        border: 2px solid white;
        
    }
    .add-to-cart-button{
        margin-top: 18px;
        height: 45px;
        border-radius: 10px;
    }
    .margin-30px-30px-linethrough{
        margin-left: 18px;
        margin-top: 14px;
    }
    .margin-top-30px{
        margin-top: 18px;
    }
    /***********************FONTS*******************************/
    *{
        font-size: 14px;
        line-height: 1.6;
    }
    .button-name{
        color: white;
        font-weight: 700;
        margin-left: 10px;
    }
    .Fraunces-700-50px-darkgreen{
        font-family: Fraunces;
        font-size: 30px;
        color: hsl(158, 36%, 37%);
    }
    h1{
        font-family: Fraunces;
        font-size: 30px;
        color: hsl(212, 21%, 14%);
        line-height: 1;
    }
}

